# Python Sanal Ortam
venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Veri Setleri (Tamamen Engellendi)
data/

# Eğitilmiş Modeller (Binary dosyalar GitHub'a gitmemeli)
models/

# Analiz Sonuçları ve Grafikler
output/
metrics/

# Diğer
.vscode/
.idea/
*.log
